footer {
    color: #121212;
    width: 100%;
    margin: 2rem 0;
    height: 2em;
    line-height: 2em;
    text-align: center;

    &.dark {
        color: #fff;
    }

    p {
        font-size: 1em;
        margin: 0;
    }

    @media (max-width: 767px) {
        margin: 8rem 0;
    }
}
