@import 'settings/__settings';
@import 'util/__util';
@import 'components/__components';
@import 'pages/__pages';

* {
    box-sizing: border-box;
}

body {
    font-family: $font-default;
    padding: 0;
    margin: 0;
}

.wrapper {
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 3rem;
    display: grid;
    grid-template-rows: auto 1fr auto;

    @media (max-width: 767px) {
        padding: 0 1rem;
    }
}

main {
    padding: 2em 0;
}
